body {
    padding: 0 0;
    margin: 0 0;
    background-color: #F0F0F0;
    font-family: AvenirLT;
    color: #131313;
}

h1 {
    font-family: Colonna;
    font-weight: normal;
    font-size: 95pt;
    letter-spacing: 4pt;
    margin-bottom: 5pt;
}

h2 {
    margin: 15pt 20pt;
    font-size: 44pt;
    text-align: center;
}

h3 {
    font-weight: 300;
    margin-top: 5pt;
    letter-spacing: 1pt;
    font-size: 30pt;
}

h4 {
    margin: 1pt 2pt;
    font-weight: normal;
    font-size: 24pt;
    letter-spacing: 1pt;
    text-align: center;
}

p {
    font-weight: 300;
    font-size: 18pt;
}

a {
    font-size: 18pt;
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.dark {
    background-color: #131313;
    color: #F0F0F0;
}

#header-container {
    color: #131313;
    width: 100%;
    margin: 0 0;
}

#header-links {
    width: 100%;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    font-size: 32pt;
    text-align: center;
    display: flex;
    align-items: stretch;
}

.header-link {
    display: table-cell;
    vertical-align: middle;
    flex: 1 100%;
}

.section-shaddow {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3), 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.header-link h4 {
    margin: 14pt;
}

.thumb {
    width: 100%;
}

.project {
    width: 280pt;
    margin: 20pt;
    padding: 1pt;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#header-logo {
    width: 50pt;
    padding: 0pt;
}

#logo-link {
    flex: 1 1;
    padding: 6pt 15pt 0pt 15pt;
}

#main-title-section {
    width: 100%;
    overflow: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#projects-section {
    width: 100%;
    overflow: auto;
}

#projects-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#resume-section {
    overflow: auto;
}

#resume-split-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#resume-description {
    max-width: 400pt;
    margin-right: 50pt;
}

#resume-links {
    padding-top: 20pt;
}

#contact-section {
    text-align: center;
}

.link-subsection {
    padding-left: 15pt;
    display: none;
}


